body {
    background-color:#57a3da ;
}
.brand {
   width: 30%;
}

.links {
    width: 70%;
   
    justify-content: flex-end;
}

.navbar {
    display: flex;
    align-items: center;
}

.links ul{
    display: flex;
    justify-content: space-around;
}

.burger {
    width: 60px;
    height: 40px;
    padding: 5px 12px;

}
.burger div {
    background-color: #fff;
    width: 22px;
    height: 3px;
    margin: 5px;
}


.holder {
    width: 100%;
    height: 100vh;
    background: url("images/hotelview.jpg") center no-repeat;
    background-size: cover;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    position: relative;
    
}

.overlay {
    position: absolute;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    top: 0;
    width: 100%;
}

.main-heading {
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
}
.title {
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 3.6rem;
    font-weight: 300;
    
}

.btn {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem
}

.row {
   padding: 0rem 30px;
    
}

.align-items-center {
    justify-content: center;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
   
}

.boxed {
    color: rgb(34, 34, 34);
}
.box {
    align-items: center;
   
}
.section-head {
    font-size: 30px;
    font-family: 'Lora', serif;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover
}

.card-body {
    font-family: 'Lora', serif;
}

.btnposition {
    object-position: bottom;
}
.cont {
   display: flex;
  width: 100%;
  height: 30rem;
  margin: 1rem;
  padding-top: 3rem;
}

.head {
    width: 55%;
    align-self: flex-start;
    text-align: justify;
  padding-top: 5rem;
  font-family: 'Lora', serif;
  
}

.textsub {
    max-width: 20rem;
    padding-top: 1rem;

}

/* 
img {
    width:600px ;
    height: 350px;
    object-fit: cover;
    display: flex ;
    align-self: flex-end;
} */

.carousel-item {
    width: 50rem;
    
    align-items: center;
    justify-content: center;
    background-color:#003f86 ;
    object-fit: cover;
    padding: 5rem;
    
}

.review-text {
   
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    align-items: center;
    color: rgb(34, 34, 34);
    padding-bottom: 1.5rem;
   letter-spacing: .3rem;
}

.subreviews {
    font-size: 1.2rem;
}
